<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243423113529-a3k7jhrag91nqdugjvh5b1c0psl544eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243423113529-a3k7jhrag91nqdugjvh5b1c0psl544eq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>243423113529-rm9kqbfqsn51m9t6tbtbqs5dsc6bggo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3e2FU6ev4iXPK5Cp3jERLDUOtvupo5fI</string>
	<key>GCM_SENDER_ID</key>
	<string>243423113529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ifmo.wineup</string>
	<key>PROJECT_ID</key>
	<string>testfire-1bc2f</string>
	<key>STORAGE_BUCKET</key>
	<string>testfire-1bc2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243423113529:ios:ac3ddafe9103b3a67bf8e8</string>
	<key>DATABASE_URL</key>
	<string>https://testfire-1bc2f.firebaseio.com</string>
</dict>
</plist>